<a href="https://colab.research.google.com/github/Kavita-git-hub/python-program/blob/main/wscube_pandas_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write a program to add two numbers in python
#Solution (with predefined veriables)

In [5]:
num1 = 30
num2= 20
print("the sum of given number is ", num1+num2) #instead we will use num1+num2 we can use sum then answer will be same
sum = num1 + num2
print(sum)

the sum of given number is  50
50

In [ ]:
#solution 2  (with user inputs)

In [7]:
num1= float (input("enter the first number "))
num2= float (input("enter the second number "))
sum = num1 + num2
print(sum)0

enter the first number 20
enter the second number 3
23.0

In [ ]:
#write a program of python to print "hello world"

In [8]:
print("hello world")

hello world

In [ ]:
#write a program  to fine square root function

In [16]:
#(using exponentioanl)
num= 45
num1= int(input("Enter a number here :"))
sr = num**(1/2)
print("the square root of the given number is ",sr)

Enter a number here :45
the square root of the given number is  6.708203932499369

In [15]:
num= 49
num1= int(input("Enter a number here :"))
sr = num**(1/2)
print("the square root of the given number is ",sr)

Enter a number here :49
the square root of the given number is  7.0

In [17]:
#second method (usinf math module)
import math
num = int (input("enter a number here :"))
sr = math.sqrt(num)
print("the square root of the given number is",sr)

enter a number here :64
the square root of the given number is 8.0

In [18]:
#python program of area of a tringle
height = float(input("Enter the height of the triagle :"))
base = float(input("Enter the base of the traigle :"))

area = 0.5*base*height
print("the area of a tringle", area)

Enter the height of the triagle :34
Enter the base of the traigle :2.3
the area of a tringle 39.099999999999994

In [23]:
#python program of to swap two variables
x = 13
y = 12
temp = x #(13)
print ("the value of temp varible is ",temp)


x = y
print("the value of x is ",x)
y = temp
print("the value of y is ", y)

the value of temp varible is  13
the value of x is  12
the value of y is  13

In [24]:
x = 12
y = 13
x,y = y,x
print ("the value of x is ",x)
print ("the value of y is ",y)

the value of x is  13
the value of y is  12

In [25]:
#solution2 (without using 3rd varible)
x = 12
y = 13
x = x+y
y = x-y
x = x-y
print ("the value of x is ",x)
print ("the value of y is ",y)

the value of x is  13
the value of y is  12

In [ ]:
#program to convert kilometers to miles
 #1 kilometer = 0.621371 mile

In [26]:
km= float (input("enter your values in kms:"))
miles = km*0.621371
print("the value of miles is ",miles)

enter your values in kms:23
the value of miles is  14.291533

In [29]:
#python program to check if a number is positive or negative  or 0
#(using conditional statement)
num = 12
if num > 0:
    print("the number is positive")
if num < 0:
  print("the number is negative")
  if num == 0:
    print("the number is zero")

the number is positive

In [31]:
num = int(input("enter a number here :"))
if num > 0:
    print("the number is positive")
if num < 0:
  print("the number is negative")
  if num == 0:
    print("the number is zero")

enter a number here :-8765432
the number is negative

In [ ]:
#python programs to check if number is odd, even
num = int(input("Enter the number"))

if num % 2 == 0:

  print ("it is an even number")

else:
  print ("it is an odd number")