<a href="https://colab.research.google.com/github/Kavita-git-hub/python-program/blob/main/wscube_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write a program to add two numbers in python
#Solution (with predefined veriables)

In [5]:
num1 = 30
num2= 20
print("the sum of given number is ", num1+num2) #instead we will use num1+num2 we can use sum then answer will be same
sum = num1 + num2
print(sum)

the sum of given number is  50
50

In [ ]:
#solution 2  (with user inputs)

In [7]:
num1= float (input("enter the first number "))
num2= float (input("enter the second number "))
sum = num1 + num2
print(sum)0

enter the first number 20
enter the second number 3
23.0

In [ ]:
#write a program of python to print "hello world"

In [8]:
print("hello world")

hello world

In [ ]:
#write a program  to fine square root function

In [16]:
#(using exponentioanl)
num= 45
num1= int(input("Enter a number here :"))
sr = num**(1/2)
print("the square root of the given number is ",sr)

Enter a number here :45
the square root of the given number is  6.708203932499369

In [15]:
num= 49
num1= int(input("Enter a number here :"))
sr = num**(1/2)
print("the square root of the given number is ",sr)

Enter a number here :49
the square root of the given number is  7.0

In [17]:
#second method (usinf math module)
import math
num = int (input("enter a number here :"))
sr = math.sqrt(num)
print("the square root of the given number is",sr)

enter a number here :64
the square root of the given number is 8.0

In [18]:
#python program of area of a tringle
height = float(input("Enter the height of the triagle :"))
base = float(input("Enter the base of the traigle :"))

area = 0.5*base*height
print("the area of a tringle", area)

Enter the height of the triagle :34
Enter the base of the traigle :2.3
the area of a tringle 39.099999999999994

In [23]:
#python program of to swap two variables
x = 13
y = 12
temp = x #(13)
print ("the value of temp varible is ",temp)


x = y
print("the value of x is ",x)
y = temp
print("the value of y is ", y)

the value of temp varible is  13
the value of x is  12
the value of y is  13

In [24]:
x = 12
y = 13
x,y = y,x
print ("the value of x is ",x)
print ("the value of y is ",y)

the value of x is  13
the value of y is  12

In [25]:
#solution2 (without using 3rd varible)
x = 12
y = 13
x = x+y
y = x-y
x = x-y
print ("the value of x is ",x)
print ("the value of y is ",y)

the value of x is  13
the value of y is  12

In [ ]:
#program to convert kilometers to miles
 #1 kilometer = 0.621371 mile

In [26]:
km= float (input("enter your values in kms:"))
miles = km*0.621371
print("the value of miles is ",miles)

enter your values in kms:23
the value of miles is  14.291533

In [29]:
#python program to check if a number is positive or negative  or 0
#(using conditional statement)
num = 12
if num > 0:
    print("the number is positive")
if num < 0:
  print("the number is negative")
  if num == 0:
    print("the number is zero")

the number is positive

In [31]:
num = int(input("enter a number here :"))
if num > 0:
    print("the number is positive")
if num < 0:
  print("the number is negative")
  if num == 0:
    print("the number is zero")

enter a number here :-8765432
the number is negative

In [51]:
#python programs to check if number is odd, even
num = int(input("Enter the number"))

if num % 2 == 0:

  print ("it is an even number")

else:
  print ("it is an odd number")

Enter the number56789
it is an odd number

In [ ]:
#program to check leap year
#leap year = 365
#leap year  = 366  #1996, 2000,2004,2006

In [58]:
year = int(input("enter the year:"))
if year % 400 == 0 and (year %100 == 0):
  print(year, "it is a leap year")

elif year % 4 == 0 and (year %100 !=0):
    print("it is a leap year")

else:
      print(year, "it is  not a leap year")

enter the year:2022
2022 it is  not a leap year

In [68]:
#program to find among three numbers
num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
num3 = int(input("enter the third number:"))


if (num1 > num2) and (num2 > num3):
    print (num1,"is the number is the largest number")
elif (num2 > num1) and (num2 > num3):
    print (num2,"is the number is the largest number")
else:
    print (num3,"is the number is the largest number")

enter the first number:23456
enter the second number:87654
enter the third number:098765
98765 is the number is the largest number

In [84]:
#write a python program to check prime number

num = int(input("enter the number:"))

if num == 1 :
    print("it is not a prime number")
elif num > 1 :
    for i in range(2,num):
        if num % i == 0 :
            print("it is not a prime number")
            break
    else:
        print ("it is a prime number")

enter the number:6543
it is not a prime number

In [ ]:
#write a program of python to generate a randonm number

In [104]:
import random

num = random.randint(1,6)

print("num")

num

In [103]:
#write a python program to print all prime numbers in an interval
 #prime number in an interval

In [113]:
lower = int(input("Enter the lower number"))
upeer = int(input("Enter the upper number"))

for num in range (lower , upeer + 1):
  if num > 1 :
    for i in range (2,num):
      if num % i == 0:
        break
    else:
        print(num)

Enter the lower number5
Enter the upper number8
5
7

In [ ]:
#program to convert celcius to fahreneit

In [118]:
#0 degree celsius = 32 fahreneit
#c*9/5 + 32 = f

celsius = int(input("Enter temperature in celcius :"))
fahrenheit = celsius*9/5 + 32
print("the temperature in fahrenheit is ",fahrenheit)

Enter temperature in celcius :34
the temperature in fahrenheit is  93.2

In [ ]:
#write a program to find the factorial of a number
#factorial = %=5i== 5x4x3x2x1  (recusrsion, for loop)

In [133]:
#solution 1
num = int(input("Enter the number :"))

factorial = 1

if num < 0:
  print("factorial does not exist for negative number")

elif num == 0:
  print("the factorial of 0 is 1")

else:
  for i in range (1,num+1):
    factorial = factorial*i
  print("the factorial of" ,num,"is" ,factorial)

Enter the number :12
the factorial of 12 is 479001600

In [130]:
#recursion using
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

n = 8
print(factorial(n))

40320